<nav class="navbar" [class.collapsed]="isCollapsed">
  <div class="navbar-header">
    <button class="navbar-toggle" (click)="onToggleSidebar()">
      <i class="fas fa-bars"></i>
    </button>
  </div>

  <div class="navbar-menu">
    <ul class="navbar-nav">
      <li class="nav-item" *ngFor="let item of filteredMenuItems">
        <a class="nav-link" [routerLink]="item.route" routerLinkActive="active">
          <i [class]="item.icon"></i>
          <span>{{ item.title }}</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
